.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(214, 93, 214);
}

.heading_div{
    float: none;
    background:rgb(211, 5, 211);
    padding: 10px;
    border-radius: 20px;
    color:black;
    box-shadow: 5px 5px 5px rgb(19, 85, 207);
}

.heading_div2{
    font-size: 18px;
}
.result_para_tag{
    box-shadow: 5px 5px 5px rgb(19, 85, 207); 
    font-size:20px;
}

.copy_right_footer{
    position: fixed;
    color:white;
    bottom:0;
    width:100%;
    background-color:grey;
    line-height:3;
    text-align: center;
}

canvas{
    border:5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(19, 85, 207); 
    margin-top:150px;
}